"*":
  "atom-clock":
    showUTC: true
  "atom-terminal": {}
  core:
    disabledPackages: [
      "sync-settings"
      "Sublime-Style-Column-Selection"
      "atom-transpose"
      "autoclose-html"
      "case-keep-replace"
      "change-case"
      "duplicate-line-or-selection"
      "editorconfig"
      "multi-cursor"
      "es6-javascript"
      "react"
      "terminal-plus"
      "atom-ide-debugger-node"
      "atom-ide-debugger-python"
      "atom-ide-ui"
      "ide-bash"
      "ide-json"
      "ide-python"
      "ide-yaml"
      "linter-csslint"
      "Hydrogen"
      "hydrogen-launcher"
      "hydrogen-python"
    ]
    telemetryConsent: "no"
    themes: [
      "black-corail-ui"
      "ir-black-k-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 13
    scrollPastEnd: true
  "exception-reporting":
    userId: "7167d68a-4de7-4b7f-9a5e-002b1c5c4a0f"
  linter: {}
  "linter-ui-default":
    panelHeight: 233.1428985595703
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      respectEslintignore: false
      showInStatusBar: true
    prettierEslintOptions: {}
    useEslint: true
  "terminal-plus":
    core: {}
    style:
      theme: "pro"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
core:
  ignoredNames: [
    ".git"
    ".svn"
    ".DS_Store"
  ]
"exception-reporting":
  userId: "750db657-913b-52ea-512d-dea57c560caf"
metrics:
  userId: "6d7958e72f635b2868a2e1b862219e92281e2fb7"
"release-notes":
  viewedVersion: "0.69.0"
welcome:
  showOnStartup: false
